body{
	/*background-color: #EFEFEF !important;*/
}
@media (max-width: 768px){
	.content{
		width: auto !important;
	}
	.main{
		/*margin-bottom: 800px !important;*/
	}
	.row{
		margin: 0 !important;
		padding: 0 15px;
	}
	.col-sm-6{
		padding: 0 !important;
	}
	.part1 .title {
		margin-top: 10px !important;
	}
	.biao{
		width: auto !important;
	}
	.biao p input:nth-child(2) {
	    float: none !important;
	}
	.biao input {
	    margin: 10px 0 !important;
	}
	.part1 i {
	    width: 100% !important;
	    height: 200px !important;
	    background-position: center;
	}
	.part3 .pic {
		background-size: cover;
	}
}
.main{
	height: auto;
	padding-top: 0;
	/*margin-bottom: 350px;*/
}
.img{
    width: 100%;
    height: 300px;
    background-image: url(../img/news.jpg);
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
}
.content{
    width: 800px;
    margin: 0 auto;
    margin-top: -140px;
}

.part1 i{
	background-image: url(../img/active/1.png);
    width: 350px;
    height: 500px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.8);
}
.part1 .col-sm-6:first-child{
	text-align: center;
}
.part1 .title{
	    font-size: 36px;
    font-weight: 800;
    margin: 0;
}
.part1 .word{
	font-size: 16px;
	margin: 0;
	margin-bottom: 3px;
}
.part1 .btn{
	    font-size: 16px;
    font-weight: 800;
    padding: 0 15px;
    border-radius: 20px;
    background-color: #FEC400;
    margin-top: 10px;
    margin-left: 200px;
    display: inline-block;
}
.part2,.part3{
	margin-top: 50px;
}
.part2 .pic{
	display: inline-block;
    width: 200px;
    height: 180px;
    background-image: url(../img/active/2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.7);
}
.part2 .bg{
    display: inline-block;
    width: 100%;
    background-color: #F9C000;
   margin-bottom: -140px;
    height: 90px;
    border-radius: 10px;
}
.part2 .title,.part3 .title{
	font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}
.part2 .word,.part3 .word{
    font-size: 15px;
    margin-bottom: 30px;
}

.part3 .pic{
    display: inline-block;
    margin-top: 30px;
    width: 300px;
    height: 330px;
    background-image: url(../img/login2.jpg);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}

.part4{
	    background-color: #F8F8F8;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-bottom: 50px;
    margin-top: 90px;
}
.biao{
	width: 450px;
    margin: 0 auto;
    padding: 20px 0;
}
.biao .title{
	    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}
.biao input{
	padding: 0 20px;
	outline: none;
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    height: 40px;
	width: 205px;
}
.biao p input:nth-child(2){
	float: right;
}
.biao textarea{
	outline: none;
	padding: 10px 20px;
	width: 100%;
	resize: none;
	height: 150px;
    border: 0;
    box-shadow: 0 2px 15px rgba(0,0,0,.2);
    border-radius: 10px;
}
.biao .btn{
	font-size: 16px;
    font-weight: 800;
    padding: 2px 20px;
    border-radius: 20px;
    background-color: #FEC400;
    margin-top: 25px;
    margin-left: 200px;
    display: inline-block;
}
